/* BODY and positioning*/
body {
  font-family: 'Montserrat', sans-serif;
  
}

/* Navigation Bar */
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.nav-item {
  padding: 0 18px;
}

/* Padding for the container */
.container {
  padding: 3% 5%;
}

/* Title container (where the movies are)*/
.title {
  background-image: url('/images/1552.jpg');
  background-color: #cccccc;
  background-size: cover;
  background-position: center;
}

/* H1 and H2*/
h1 {
  font-weight: bold;
  color: aliceblue;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
  padding-bottom: 20px;
}

/* Tim : Without this focusBody will not be visable*/
#mainContent {
  text-align: center;
  background-color: #dc3545;
  color: #fff;
}
/* Testimonials, the red color is the danger color in BS5*/
#testimonials {
  text-align: center;
  color: #fff;
}
/* Carousel (testimonials) padding*/
.carousel-item {
  padding: 5% 10%;
}

#anton-pic {
  border-radius: 50%;
}
#sara-pic {
  border-radius: 50%;
}
#gustav-pic {
  border-radius: 50%;
}
#tim-pic {
  border-radius: 50%;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#biljetten{
  margin-top: 1rem;
  width: 60%;
  height: 23rem;
  border-radius: 15px;
  border: 15px double rgb(143, 22, 28);

}
.star{
  width: 15%;
}


